In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alyangula,AU,2021-07-13 18:02:33,-13.8483,136.4192,71.64,89,81,6.04
1,1,Pisco,PE,2021-07-13 18:02:33,-13.7000,-76.2167,67.01,81,25,6.06
2,2,Albany,US,2021-07-13 18:02:07,42.6001,-73.9662,80.51,83,86,9.46
3,3,Talaya,RU,2021-07-13 18:02:34,61.3833,152.7500,53.29,90,80,0.11
4,4,Tuktoyaktuk,CA,2021-07-13 18:02:34,69.4541,-133.0374,44.64,92,98,15.57

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Albany,US,2021-07-13 18:02:07,42.6001,-73.9662,80.51,83,86,9.46
8,8,Jamestown,US,2021-07-13 18:02:36,42.0970,-79.2353,85.08,73,40,14.97
10,10,Kapaa,US,2021-07-13 18:02:36,22.0752,-159.3190,79.48,71,10,3.00
12,12,Brufut,GM,2021-07-13 18:02:37,13.3814,-16.7518,89.69,62,40,6.91
16,16,Katsuura,JP,2021-07-13 18:02:39,35.1333,140.3000,76.19,93,52,7.45
17,17,Ixtapa,MX,2021-07-13 18:00:14,20.7000,-105.2000,88.23,74,75,4.00
18,18,Mikkeli,FI,2021-07-13 18:02:39,61.6886,27.2723,80.15,53,0,1.14
20,20,Luba,GQ,2021-07-13 18:02:40,3.4568,8.5547,77.59,86,69,8.50
21,21,Port Blair,IN,2021-07-13 18:02:40,11.6667,92.7500,81.14,85,100,10.98
22,22,Kavieng,PG,2021-07-13 18:02:41,-2.5744,150.7967,82.38,76,22,18.14

In [11]:
preferred_cities_df.count()

City_ID       222
City          222
Country       222
Date          222
Lat           222
Lng           222
Max Temp      222
Humidity      222
Cloudiness    222
Wind Speed    222
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Albany      US     80.51  42.6001  -73.9662
8    Jamestown      US     85.08  42.0970  -79.2353
10       Kapaa      US     79.48  22.0752 -159.3190
12      Brufut      GM     89.69  13.3814  -16.7518
16    Katsuura      JP     76.19  35.1333  140.3000
17      Ixtapa      MX     88.23  20.7000 -105.2000
18     Mikkeli      FI     80.15  61.6886   27.2723
20        Luba      GQ     77.59   3.4568    8.5547
21  Port Blair      IN     81.14  11.6667   92.7500
22     Kavieng      PG     82.38  -2.5744  150.7967

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Albany,US,80.51,42.6001,-73.9662,
8,Jamestown,US,85.08,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,Kapaa,US,79.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Brufut,GM,89.69,13.3814,-16.7518,Sheraton Gambia Hotel Resort & Spa
16,Katsuura,JP,76.19,35.1333,140.3000,Katsuura Hotel Mikazuki
17,Ixtapa,MX,88.23,20.7000,-105.2000,Hotel Plaza Providencia
18,Mikkeli,FI,80.15,61.6886,27.2723,"Original Sokos Hotel Vaakuna, Mikkeli"
20,Luba,GQ,77.59,3.4568,8.5547,
21,Port Blair,IN,81.14,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
22,Kavieng,PG,82.38,-2.5744,150.7967,Nusa Island Retreat

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))