## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,72.72,94,90,10.36,overcast clouds
1,1,Bethel,US,41.3712,-73.4140,84.69,95,73,2.66,broken clouds
2,2,Dunedin,NZ,-45.8742,170.5036,49.80,92,100,10.00,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,48.69,69,6,17.11,clear sky
4,4,Vila Velha,BR,-20.3297,-40.2925,73.35,83,0,10.36,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,72.72,94,90,10.36,overcast clouds
1,1,Bethel,US,41.3712,-73.4140,84.69,95,73,2.66,broken clouds
4,4,Vila Velha,BR,-20.3297,-40.2925,73.35,83,0,10.36,clear sky
5,5,Faanui,PF,-16.4833,-151.7500,79.43,73,30,22.84,scattered clouds
6,6,Vaini,TO,-21.2000,-175.2000,78.96,78,75,9.22,broken clouds
8,8,Banepa,NP,27.6298,85.5214,68.32,100,75,3.44,broken clouds
12,12,Victoria,HK,22.2855,114.1577,82.45,89,100,4.00,light rain
13,13,Bathsheba,BB,13.2167,-59.5167,83.01,78,40,16.11,scattered clouds
15,15,Raga,SS,8.4596,25.6780,70.12,96,100,3.89,overcast clouds
17,17,Mangan,IN,27.5167,88.5333,76.08,94,100,0.89,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             415
City                   415
Country                411
Lat                    415
Lng                    415
Max Temp               415
Humidity               415
Cloudiness             415
Wind Speed             415
Current Description    415
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna().copy()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,72.72,overcast clouds,42.0970,-79.2353,
1,Bethel,US,84.69,broken clouds,41.3712,-73.4140,
4,Vila Velha,BR,73.35,clear sky,-20.3297,-40.2925,
5,Faanui,PF,79.43,scattered clouds,-16.4833,-151.7500,
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
8,Banepa,NP,68.32,broken clouds,27.6298,85.5214,
12,Victoria,HK,82.45,light rain,22.2855,114.1577,
13,Bathsheba,BB,83.01,scattered clouds,13.2167,-59.5167,
15,Raga,SS,70.12,overcast clouds,8.4596,25.6780,
17,Mangan,IN,76.08,overcast clouds,27.5167,88.5333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df.loc[index, "Hotel Name"] = np.NaN
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna().copy()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,72.72,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,Bethel,US,84.69,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
4,Vila Velha,BR,73.35,clear sky,-20.3297,-40.2925,Quality Suites Vila Velha
5,Faanui,PF,79.43,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Banepa,NP,68.32,broken clouds,27.6298,85.5214,Dhulikhel Lodge Resort
12,Victoria,HK,82.45,light rain,22.2855,114.1577,Mini Hotel Central
13,Bathsheba,BB,83.01,scattered clouds,13.2167,-59.5167,Atlantis Hotel
17,Mangan,IN,76.08,overcast clouds,27.5167,88.5333,Hotel Mout View
20,Mahebourg,MU,68.25,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))